body{
    margin: 0;
    padding: 0;
}


.navbar{

    width: 100%;
    height: 40px;
    display: flex;
    background: #994d0f;
 
}
.navbar1{
    margin-left: 20%;
    width: 80%;
    height: 40px;
    display: flex;
    background: #994d0f;
 
}
.navbar1 a{
    color: white;
    font-size: 20px;

    margin: 40px;
    text-decoration: none;
}
img{
    width: 100%;
    height: 200px;
}
.navbar a{
    color: white;
    font-size: 20px;

    margin: 30px;
    text-decoration: none;
}
.a{
    margin-top: 7px;
    margin-left: 40%;
}
a:hover{
    color: #e7b58c;
}
aside{
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    
    
}
aside nav{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
}
aside nav a{ 
    color: #994d0f;
    text-decoration: none;
    margin: 20px;
}
h2{
    color: #994d0f;
    margin: 20px;
    margin-top: 10px;
}
hr{
    height: 2px;
    width: 200px;
    background: #994d0f;
}
.border{
    border: 1px solid black;
    height: 200px;
    width: 20%;
    margin: 20px;
}
.img1{
margin-top: 10%;
}
.img5{
    margin-top: 10%;
}
.img2{
    margin-top: 5%;
}
.img4{
    margin-top: 5%;
}
.img3{
    height: 250px;  
}
.img3 img{
    height: 250px;
}
.img8{
margin-top: 10%;
height: 250px;
    }
    .img8 img{
        height: 250px;
    }
.img10{
   
    }
.img7{
        margin-top: 5%;
    }
.img9{
        margin-top: 5%;
    }
.img11{
        margin-top: 10%;
        }
.img15{
         margin-top: 10%;
        }
.img12{
         margin-top: 5%;
        }
.img14{
         margin-top: 5%;
        }
.img13{
    height: 250px;
}

.img13 img{
    height: 250px;
}
 .img18{
  margin-top: 10%;
  height: 250px;
     }
     .img18 img{
        height: 250px;
    }
.img20{
   
    }
.img17{
     margin-top: 5%;
      }
 .img19{
  margin-top: 5%;
     }
.container1{
    display: flex;
    margin: 20px;
}
.h2{
    margin-left: 60%
}

    
    .pics{
        overflow: hidden;
        margin-left: 20%;
        width: 80%;  
        height:auto;
    }
    
   .pics figure img {
        float: left;
        height:500px;
        margin: 20px;
    }
    
   .pics figure {
        position: relative;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
      
        
    
    }
    /* .mySlides{
        height: 500px;

    } */
    /* @keyframes slide{

        0% {
            left: 0;
        }
        
        20% {
            left: 0;
        }
        
        25% {
            left: -100%;
        }
        
        45% {
            left: -100%;
        
        }
        
        50% {
                left: -200%;
        
        }
        
        70% {
            left: -200%;
        }
        
        75% {
            left: -300%;
        }
        
        95% {
            left: -300%;
        }
        
        100% {
            left: -400%;
        
        }
        
        }
        
        .slideShow{
            overflow: hidden;
            margin-left: 20%;
            width: 80%;  
            height:auto;
        }
        
       .slideShow figure img {
            float: left;
           
        
        }
        
       .slideShow figure {
            position: relative;
            margin: 0;
            left: 0;
            text-align: left;
            font-size: 0;
            animation: 20s slider infinite; 
            
        
        } */

        @keyframes slider {

            0% {
                left: 0;
            }
            
            20% {
                left: 0;
            }
            
            25% {
                left: -100%;
            }
            
            45% {
                left: -100%;
            
            }
            
            50% {
                    left: -200%;
            
            }
            
            70% {
                left: -200%;
            }
            
            75% {
                left: -300%;
            }
            
            95% {
                left: -300%;
            }
            
            100% {
                left: -400%;
            
            }
            
            }
            
            .slider {
                overflow: hidden;
                margin-left: 20%;
             
            }
            
            .slider figure img {
               width: 20%;
                float: left;
                 height:500px;
            }
            
            .slider figure {
                position: relative;
            width: 500%;
                margin: 0;
                left: 0;
                text-align: left;
                font-size: 0;
                animation: 20s slider infinite; 
            
            }
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	padding:20px;
    text-align: center;
    background: #e7b58c
	
}
.scroll:hover {
	background: #994d0f;
	transition: 0.2s; 		
}
.scroll:hover .fa {
	padding-top:-50px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.2s;	
}